.App {
  text-align: center;
  min-height: calc(100vh - 50px);
  background-color: #ecf1f3;
  color: #122e4f;
  margin: 0;
}

/* underline a whole div box */
.boxUL {
  border-bottom: 2px dashed;
  padding: 9px;
  width: 92%;
}

/* bold words */
.bold {
  font-weight: bolder;
}

/* note designs */
.Note {
  color: #028282;
  font-weight: normal;

  margin: 0;
  margin-top: -4px;
}

/* page title */
.Title {
  width: fit-content;
  margin: 0 auto;
  padding: 20px 5px 5px 5px;
}

/* file uploading button */
.file-selector {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #4074af;
  color: #c6d5f0;
  width: 50vw;
  margin: 20px 0;
  min-height: fit-content;
  height: 70px;
  border: 3px double #122e4f;
  border-radius: 10px;
}

.file-selector > div {
  margin: auto;
}

.file-selector:hover {
  background-color: #9db1d4;
  color: #122e4f;
}

input[type="file"] {
  display: none;
}

/* mobile design */
@media only screen and (max-width: 700px) {
  .file-selector {
    width: 80vw;
  }
}

.GpaScoreContainer {
  background-color: #4074af30;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px 10px;
  width: 50%;
}

.GpaScoreContainer > h3 {
  margin: 0 auto;
}

.studentName {
  color:#028282;
}

.college {
  margin-bottom: 3px;
}

.MajorGPAScore{
  color: #4074af;
  font-size: 45px;
  font-weight: bolder;
  margin: 5px;
}

.cumGPA{
  color: #4074af;
}

/* class containers */
.AllClassContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-bottom: 35px;
}

.class1, .class2, .class3 {
  display: flex;
  font-size: large;
  padding: 10px 5px;
  margin: 6px;
  border-radius: 10px;
  min-height: 40px;
}

.class1 {
  background-color: #4074af;
  color: #c6d5f0;
}

.class2 {
  background-color: #9db1d4;
}

.class3 {
  background-color: #028282;
  color:#c6d5f0
}

.class_name {
  font-weight: bold;
  width: 20%;
  margin: auto 15px;
}

.class_description {
  width: 40%;
  margin: auto;
}

.class_credit {
  width: 20%;
  margin: auto 0;
}

.class_grade {
  font-weight: bold;
  width: 20%;
  margin: auto 0;
}

.creditEarn {
  display: none;
}

.classButtons > button {
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  height: 50px;
  width: 30%;
  margin: 10px 20px;
  border: 3px double #122e4f;
  border-radius: 10px;

}

.notActive {
  background-color: #4074af;
  color: #c6d5f0;
}

.notActive:hover {
  background-color: #9db1d4;
  color: #122e4f;
}

.active {
  background-color: #028282;
  color: #ecf1f3;
}

/* mobile design */
@media only screen and (max-width: 600px) {

  .classButtons{
    display: flex;
    justify-content: center;
  }

  .classButtons > button {
    width: 45%;
    margin: 10px 5px;
  }

  .GpaScoreContainer {
    width: 80%;
  }

  .classHeader {
    display: none;
  }

  .class1, .class2, .class3 {
    flex-wrap: wrap;
  }

  .class_name {
    border-bottom: 2px dashed;
    width: 100%;
  }
  
  .class_description {
    width: 100%;
  }

  .creditEarn {
    display: block;
    font-weight: bold;
    text-align: left;
    width: calc(35%-9px);
    margin: auto 0;
    padding-left: 8px;
  }
  
  .class_credit {
    font-weight: bold;
    width: 30%;
    margin: 5px 0;
    text-align: right;
  }
  
  .class_grade {
    width: 35%;
    margin: 5px 0;
  }
  
}

.Footer{
  text-align: right;
  padding: 10px 20px;
  background-color: #122e4f;
  color: aliceblue;
  height: 30px;
  width: calc(100% - 40px);
  border-top: 5px double #4074af;
}